@font-face {
    font-family: 'Montserrat';
    src: local('MontserratRegular'), local('Montserrat-Regular'),
        url('../fonts/MontserratRegular.woff2') format('woff2'),
        url('../fonts/MontserratRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'), local('Montserrat-Medium'),
      url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplayBold'), local('PlayfairDisplay-Bold'),
      url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplayRegular'), local('PlayfairDisplay-Regular'),
      url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplayItalic'), local('PlayfairDisplay-Italic'),
      url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

:root {
  --background: #FFFFFF;
  --background_footer:  #AE7C78;
  --title_white: #FFFFFF;
  --title: #AE7C78;
  --desc_white: #FFFFFF;
  --desc: #AE7C78;
  --btn: #D89999;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
	max-width: 1220px;
}

.section {
  padding-bottom: 80px;
}

.title {
  margin: 0;
  font-family: 'PlayfairDisplay';
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: var(--title);
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.item-desc {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--desc);
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.item-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--title);
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.btn {
  padding: 30px 70px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background: var(--btn);
  border-radius: 40px;
  text-align: center;
}

/* header */
.header {
  margin: 28px 0 80px 0;
  padding: 0;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
}

.header__container {
  position: relative;
}

.header__linklogo {
  position: absolute;
  margin: 0 62px;
  top: 16px;
  left: 484px;
}

.header__list {
  margin: 0;
  padding: 22px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__item {
  margin-right: 95px;
  margin-bottom: 22px
}

.header__item:nth-child(3) {
  margin-right: 224px;
}

.header__item:nth-child(6) {
  margin-right: 0;
}

/* topcatalog */
.topcatalog__banner {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(118px, auto) minmax(58px, auto) 1fr;
  grid-auto-rows: minmax(386px, 1fr);
  gap: 24px 20px;
  margin-bottom: 48px;
}

.topcatalog__title {
  grid-column: 1/2;
  margin: 0;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  color: var(--title);
}

.topcatalog__title span {
  font-style: italic;
}

.topcatalog__desc {
  grid-column: 1/2;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--desc);
}

.topcatalog__btn {
  grid-column: 1/2;
  margin: 30px auto auto 0;
}

.topcatalog__img {
  grid-row: 1/-1;
}

.topcatalog__img img {
  width: 100%;
}

.topcatalog__img--pion {
  grid-column: 2/3;
  margin-top: 44px;
}

.topcatalog__img--rose {
  grid-column: 3/-1;
  margin-bottom: auto;
}

.topcatalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, auto));
  gap: 20px 43px;
}

.topcatalog__item {
  display: grid;
  grid-template-rows: minmax(28px, auto) 1fr;
  gap: 0px 20px;
}

.topcatalog__icon {
  margin: 0 auto;
  grid-column: 1/2;
  grid-row: 1/3;
}

.topcatalog__titleitem {
  margin-bottom: 8px;
  grid-column: 2/3;
}

.topcatalog__descitem {
  grid-column: 2/3;
}

/* popbouquets */
.popbouquets__title {
  text-align: center;
  margin-bottom: 36px;
}

.popbouquets__card {
  margin: 0 auto 20px;
  display: grid;
  max-width: 794px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(29px, auto) minmax(40px, auto) minmax(20px, auto) minmax(29px, auto) 1fr;
  gap: 20px;
}

.popbouquets__titlecard {
  font-size: 24px;
  line-height: 29px;
}

.popbouquets__desccard {
  grid-row: 2/3;
}

.popbouquets__sizecard {
  margin-top: 4px;
  grid-row: 3/4;
}

.popbouquets__pricecard {
  margin-top: 4px;
  grid-row: 4/5;
}

.popbouquets__btncard {
  margin: 44px 0 auto;
  max-width: 285px;
  grid-row: 5/6;

}

.popbouquets__img {
  grid-row: 1/-1;
}

.popbouquets__img img {
  width: 100%;
}

.popbouquets__btncontainer {
  display: flex;
  justify-content: center;
}

.popbouquets__btnswiper {
  padding: 0;
  background-color: var(--background);
  border: none;
}

.popbouquets__btnswiper--left {
  margin-right: 20px;
}

/* goods */
.goods__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 19px;
}

.goods__item {
  min-height: 442px;
  border-radius: 10px;
}

.goods__item:first-child {
  background: url(../img/cardimg1x2.jpg) center no-repeat;
  background-size: cover;
}

.goods__item:nth-child(2) {
  background: url(../img/cardimg2x2.jpg) center no-repeat;
  background-size: cover;
}

.goods__item:nth-child(3) {
  background: url(../img/cardimg3x2.jpg) center no-repeat;
  background-size: cover;
}

.goods__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: rgba(174, 124, 120, 0.6);
  border-radius: 10px;
}

.goods__titleitem {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  color: var(--title_white);
}

.goods__descitem {
  color: var(--desc_white);
}

/* banner */
.banner__container {
  max-width: 1200px;
  padding: 40px 102px 64px 102px;
  background-color: var(--background_footer);
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.banner__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 32%;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: var(--title_white);
}

.banner__desc {
  margin: 0;
  max-width: 40%;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--desc_white);
}

/* step */
.step__title {
  margin-bottom: 36px;
  text-align: center;
  letter-spacing: 0.02em;
}

.step__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.step__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__item svg {
  margin-bottom: 8px;
}

.step__titleitem {
  text-align: center;
  margin-bottom: 8px;
}

.step__descitem {
  text-align: center;
  margin-bottom: 8px;
}

/* news */
.news__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 387px;
}

.news__title {
  margin-bottom: 40px;
}

.news__desc {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--desc);
}

.news__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.news__item {
  margin-right: 20px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__container-right {
  display: grid;
  g
}

/* reviews */
.reviews__container {
  border: 1px solid #AE7C78;
}

/* contacts */
.contacts {
  padding: 52px 0 72px 0;
  background-image: url(../img/map.jpg);
}

.contacts__cotent {
  padding: 40px 108px 65px 35px;
  max-width: 386px;
  background-color: var(--background);
  border-radius: 12px;
}

/* footer */
.footer {
  background-color: var(--background_footer);
}

.footer__link {
  color: var(--desc_white);
}
